*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vcproj
*.sln
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
backup/
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Dd]epricated*/
IntermediateBuild/
CLIK/
common/
/BuildIncrement.jse
BuildInfo.h
